<!-- <div class="Navigation-bar">
<mat-toolbar>
  <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
  <span><a class="nav-brand" href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a></span> <span class="example-spacer"></span>
  <span class="menu-spacer"></span>
  <div fxShow="true" fxHide.lt-md="true">
  <a routerLink="/Homes" mat-button>Home</a>
   <a routerLink="About-us" mat-button>About Us</a>
  <a routerLink="services" mat-button>Services</a>
   <a routerLink="Blogs" mat-button>Blogs</a>
  <a routerLink="Contact-us" mat-button>Contact Us</a> 
  
    <a routerLink="Contact-us" mat-button>Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  
  </div>
  <div fxShow="true" fxHide.gt-md="true">
    <a href="#" (click)="sidenav.toggle()"></a>
  </div>
  </mat-toolbar-row>
  
</mat-toolbar>
<mat-sidenav-container fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column" mode="side" opened="false">
      <div fxLayout="column">
        <a (click)="sidenav.toggle()" href="#" mat-button>Close</a>
        <a routerLink="/Homes" mat-button>Home</a>
   <a routerLink="About-us" mat-button>About Us</a>
  <a routerLink="services" mat-button>Services</a>
   <a routerLink="Blogs" mat-button>Blogs</a>
  <a routerLink="Contact-us" mat-button>Contact Us</a> 
  <div>
    <a routerLink="Contact-us" mat-button>Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </div>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div> -->


   
<mat-toolbar>
  <a routerLink="/home" style="text-decoration: none;">
   <span><a class="nav-brand" href="index.html"><img src="assets/img/core-img/logo.png" alt=""></a></span>
     </a>
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxHide fxShow.gt-sm>
      
      <!-- <div class="dropdown"> -->
         <button   routerLinkActive="active" routerLink="/Homes" mat-raised-button>Home</button>
         <!-- <div class="dropdown-content">
          <div class="shape"></div>
          <a href="#">Link 1</a>
          <a href="#">Link 2</a>
          <a href="#">Link 3</a>
        </div>
      </div> -->
         
      

         <button  routerLinkActive="active" routerLink="/About-us" mat-raised-button>About Us</button>
         <button  routerLinkActive="active" routerLink="/services" mat-raised-button>Services</button>
         <button  routerLinkActive="active" routerLink="/Blogs" mat-raised-button>Blog</button>
         <button  routerLinkActive="active" routerLink="/Contact-us" mat-raised-button>Contact Us</button>
         <div class="header-book-now">
          <a  routerLinkActive="active" routerLink="Contact-us" mat-raised-button>Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
        </div>
  </div>
  <button mat-button [mat-menu-trigger-for]="menu" fxShow fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<mat-menu x-position="before" #menu>
  <button  routerLinkActive="active"  routerLink="/Homes" mat-menu-item>Home</button>
  <button  routerLinkActive="active"  routerLink="/About-us" mat-menu-item>About Us</button>
  <button  routerLinkActive="active"  routerLink="/services" mat-menu-item>Services</button>
  <button  routerLinkActive="active"  routerLink="/Blogs" mat-menu-item>Blog</button>
  <button  routerLinkActive="active"  routerLink="/Contact-us" mat-menu-item>Contact Us</button>
  <div class="header-book-now">
    <a routerLink="Contact-us" mat-menu-item>Book Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
  </div>
</mat-menu>



