<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/17.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Blogs</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a routerLink="Homes">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Blogs</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="roberto-news-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">

                <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="100ms">

                    <div class="post-thumbnail">
                        <a routerLink="Sustainable"><img src="assets/img/bg-img/24.jpg" alt=""></a>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                              <a routerLink="Sustainable" class="post-author">June 20, 2023</a>
                            <a routerLink="Sustainable" class="post-tutorial">Travel</a>
                        </div>

                        <a routerLink="Sustainable" class="post-title">
                            An itinerary for sustainable travel
                        </a>
                        <p>Travelling becomes a beautiful experience only when the places and people we visit are peaceful and thriving. As a traveller, sustainable travel is one way you can ensure you add value to the places you visit!</p>
                        <a routerLink="Sustainable" class="btn continue-btn">Read More</a>
                    </div>
                </div>

                <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="200ms">

                    <div class="post-thumbnail">
                        <a routerLink="Luxury"><img src="assets/img/bg-img/25.jpg" alt=""></a>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                            <a routerLink="Luxury" class="post-author">June 25, 2023</a>
                            <a routerLink="Luxury" class="post-tutorial">Travel</a>
                        </div>

                        <a routerLink="Luxury" class="post-title">The alluring world of luxury travel</a>
                        <p> It’s one thing to travel and another to indulge in luxury travels, which opens up unimaginable and incredible experiences that’s otherwise inaccessible to travellers!</p>
                        <a routerLink="Luxury" class="btn continue-btn">Read More</a>
                    </div>
                </div>

                <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="300ms">

                    <div class="post-thumbnail">
                        <a routerLink="Experience"><img src="assets/img/bg-img/26.jpg" alt=""></a>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                            <a routerLink="Experience" class="post-author">July 26, 2023</a>
                            <a routerLink="Experience"class="post-tutorial">Travel</a>
                        </div>

                        <a routerLink="Experience" class="post-title">Explore the Labelexpo Europe 2023 experience with Avila</a>
                        <p>World's largest event for the label and package printing industry is taking place at Brussels in September and team Avila is all geared to make your trip successful in every sense.</p>
                        <a routerLink="Experience" class="btn continue-btn">Read More</a>
                    </div>
                </div>

                <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="400ms">

                    <div class="post-thumbnail">
                        <a routerLink="Make-your-mark"><img src="assets/img/bg-img/27.jpg" alt=""></a>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                            <a routerLink="Make-your-mark" class="post-author">June 28, 2023</a>
                            <a routerLink="Make-your-mark" class="post-tutorial">Travel</a>
                        </div>

                        <a routerLink="Make-your-mark" class="post-title">Make your mark at K 2025 with Avila</a>
                        <p>The number one trade fair for the plastics and rubber industry in the whole of the world, K is scheduled for 2025 and Avila Tours & Travels Pvt Ltd is ready with a meticulously planned K 2025 travel package for you!</p>
                        <a routerLink="Make-your-mark" class="btn continue-btn">Read More</a>
                    </div>
                </div>

                <div class="single-blog-post d-flex align-items-center mb-50 wow fadeInUp" data-wow-delay="500ms">

                    <div class="post-thumbnail">
                        <a routerLink="Barcelona"><img src="assets/img/bg-img/28.jpg" alt=""></a>
                    </div>

                    <div class="post-content">

                        <div class="post-meta">
                            <a routerLink="Barcelona" class="post-author">July 06, 2023</a>
                            <a routerLink="Barcelona" class="post-tutorial">Travel</a>
                        </div>

                        <a routerLink="Barcelona" class="post-title">Delve into CPHI Worldwide 2023 at Barcelona with Avila</a>
                        <p>CPHI Worldwide 2023 is opening up an awe-inspiring world of pharma products, people and solutions at Barcelona. Experience it in all its glory with Avila Tours & Travels Pvt Ltd.</p>
                        <a routerLink="Barcelona" class="btn continue-btn">Read More</a>
                    </div>
                </div>

                <nav class="roberto-pagination wow fadeInUp mb-100" data-wow-delay="600ms">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="roberto-sidebar-area pl-md-4">

                    <div class="single-widget-area mb-100">
                        <div class="newsletter-form">
                            <h5>Newsletter</h5>
                            <p>Get the latest updates from Avila.</p>
                            <form action="#" method="post">
                                <input type="email" name="nl-email" id="nlEmail" class="form-control" placeholder="Enter your email...">
                                <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100">
                        <h4 class="widget-title mb-30">Recent News</h4>

                        <div class="single-recent-post d-flex">

                            <div class="post-thumb">
                                <a href="single-blog.html"><img src="assets/img/bg-img/29.jpg" alt=""></a>
                            </div>

                            <div class="post-content">

                                <div class="post-meta">
                                    <a href="#" class="post-author">Jan 29, 2019</a>
                                    <a href="#" class="post-tutorial">Event</a>
                                </div>
                                <a href="single-blog.html" class="post-title">Proven Techniques Help You Herbal Breast</a>
                            </div>
                        </div>

                        <div class="single-recent-post d-flex">

                            <div class="post-thumb">
                                <a href="single-blog.html"><img src="assets/img/bg-img/30.jpg" alt=""></a>
                            </div>

                            <div class="post-content">

                                <div class="post-meta">
                                    <a href="#" class="post-author">Jan 29, 2019</a>
                                    <a href="#" class="post-tutorial">Event</a>
                                </div>
                                <a href="single-blog.html" class="post-title">Cooking On A George Foreman Grill</a>
                            </div>
                        </div>

                        <div class="single-recent-post d-flex">

                            <div class="post-thumb">
                                <a href="single-blog.html"><img src="assets/img/bg-img/31.jpg" alt=""></a>
                            </div>

                            <div class="post-content">

                                <div class="post-meta">
                                    <a href="#" class="post-author">Jan 29, 2019</a>
                                    <a href="#" class="post-tutorial">Event</a>
                                </div>
                                <a href="single-blog.html" class="post-title">Selecting The Right Hotel</a>
                            </div>
                        </div>

                        <div class="single-recent-post d-flex">

                            <div class="post-thumb">
                                <a href="single-blog.html"><img src="assets/img/bg-img/32.jpg" alt=""></a>
                            </div>

                            <div class="post-content">

                                <div class="post-meta">
                                    <a href="#" class="post-author">Jan 29, 2019</a>
                                    <a href="#" class="post-tutorial">Event</a>
                                </div>
                                <a href="single-blog.html" class="post-title">Comment Importance Of Human Life</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Tags</h4>

                        <ul class="popular-tags">
                            <li><a href="#">Bed,</a></li>
                            <li><a href="#">Hotel,</a></li>
                            <li><a href="#">Travel,</a></li>
                            <li><a href="#">Restaurant,</a></li>
                            <li><a href="#">Sport,</a></li>
                            <li><a href="#">Trip,</a></li>
                            <li><a href="#">Music,</a></li>
                            <li><a href="#">Holiday,</a></li>
                            <li><a href="#">Tourist,</a></li>
                            <li><a href="#">Foody,</a></li>
                            <li><a href="#">Resorts.</a></li>
                        </ul>
                    </div>

                    <div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Instagram</h4>

                        <ul class="instagram-feeds">
                            <li><a href="#"><img src="assets/img/bg-img/33.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/bg-img/34.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/bg-img/35.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/bg-img/36.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/bg-img/37.jpg" alt=""></a></li>
                            <li><a href="#"><img src="assets/img/bg-img/38.jpg" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <router-outlet></router-outlet> -->