<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/17.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-post-content">
                        <h2 class="post-title">
                            Delve into CPHI Worldwide 2023 at Barcelona with Avila
                        </h2>
                        <div class="post-meta">
                            <a href="#" class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i>July 06, 2023</a>
                            <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i> By Avila International</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="roberto-news-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">

                <div class="post-thumbnail mb-50">
                    <img src="assets/img/bg-img/blog-Barcelona.jpg" alt="">
                </div>

                <div class="blogs-details-text">
                    <p>
                        CPHI Worldwide 2023 is opening up an awe-inspiring world of pharma products, people and solutions at Barcelona. Experience it in all its glory with Avila Tours & Travels Pvt Ltd.
                    </p>
                    <p>
                        The city of prodigies and the Catalan capital, Barcelona, is all set to host the world's largest pharmaceutical exhibition, CPhI Worldwide, in October this year. The three-day event scheduled from 24th October 2023 to 26th October 2023 is a one-of-a-kind opportunity for enthusiasts to network with over 45,000 pharma professionals from noteworthy companies across the globe, witness new products and technology, attend conferences and presentations, and stay abreast about everything latest and pioneering in the industry.
                    </p>
                    <p>
                        Attending such a large-scale event calls for meticulous planning, while prior experience can enrich your overall experience by leaps and bounds. And that’s where Avila Tours & Travels Pvt Ltd steps in - to make your trip to this leading pharmaceutical networking event and the city of Barcelona an easy affair.
                    </p>
                    <p>
                        <h5>Want to learn how? Read on. </h5>
            
                
                    <h5>
                        1. Customised Itinerary
                    </h5>
                    <p>
                        We present to you two all-inclusive packages: an exhibitors package for a 5-night/6-day itinerary and a visitors’ package for a 4-night/5-day itinerary. Both packages are incorporated with services that ensures you have a smooth journey from beginning till the very end, including but not limited to return economy class airfare, Schengen visa assistance, group travel insurance, and safe, pleasant accommodation with breakfast.
                    </p>
                    <h5>
                        2. Accommodation in Barcelona
                    </h5>
                    <p>
                        Avila’s decades of industry experience has helped us establish robust connections with renowned hotel names. For the CPHI Worldwide 2023 tour, our customers have the options between Hilton Diagonal Mar Barcelona,, AC Hotel By Marriott Barcelona Forum, and Ayre Hotel Gran Via Barcelona, where all three have great proximity to the CPHI venue.
                    </p>
                    <h5>
                        3. Food and transportation
                    </h5>
                    <p>
                        From airport transfers, daily fairground group transfers to private A/C coach services during the CPHI event, all your transportation requirements during the CPHI Worldwide 2023 will be flawlessly handled by team Avila. Three packed lunches at the fair ground and breakfast will be arranged by the team as per the hotel accommodations.
                    </p>
                    <h5>
                        4. Information to note
                    </h5>
                    <p>
                        Kindly note that the registration amount for these exclusive packages is non-refundable. Avila Tours & Travels Pvt Ltd is here to assist you with your visa application process, but make sure you comply with embassy/consulate regulations.
                    </p>
                    
                    <p>
                        Declutter your mind off all the travel hassles and focus on how best you can leverage the amazing opportunity that the CPHI Worldwide 2023 Barcelona is. Our well-thought out itineraries are designed to not just facilitate a comfortable journey but also for you to make the most of all the great exposure and inspiration you’re in store for! Contact now to get registered!

                    </p>

                   

                </div>

                <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                    <ul class="popular-tags">
                        <li><a href="#">Bed,</a></li>
                        <li><a href="#">Travel,</a></li>
                        <li><a href="#">Hotel</a></li>
                    </ul>

                    <div class="author-social-info d-flex align-items-center">
                        <p>Share:</p>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!--<div class="comment_area mb-50 clearfix">
                    <h2>02 Comments</h2>
                    <ol>

                        <li class="single_comment_area">

                            <div class="comment-content d-flex">

                                <div class="comment-author">
                                    <img src="img/bg-img/40.jpg" alt="author">
                                </div>

                                <div class="comment-meta">
                                    <a href="#" class="post-date">27 Aug 2016</a>
                                    <h5>Brandon Kelley</h5>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                                    <a href="#" class="like">Like</a>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="single_comment_area">

                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            <img src="img/bg-img/41.jpg" alt="author">
                                        </div>

                                        <div class="comment-meta">
                                            <a href="#" class="post-date">27 Aug 2018</a>
                                            <h5>John Doe</h5>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                            <a href="#" class="like">Like</a>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="single_comment_area">

                            <div class="comment-content d-flex">

                                <div class="comment-author">
                                    <img src="img/bg-img/42.jpg" alt="author">
                                </div>

                                <div class="comment-meta">
                                    <a href="#" class="post-date">27 Aug 2018</a>
                                    <h5>Lander Tea</h5>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                    <a href="#" class="like">Like</a>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>-->

                <div class="roberto-contact-form mt-80 mb-100">
                    <h2>Leave A Comment</h2>

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                            </div>
                            <div class="col-12">
                                <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <input type="text" name="website" class="form-control mb-30" placeholder="Websites">
                            </div>
                            <div class="col-12">
<textarea name="message" class="form-control mb-30" placeholder="Start the discussion..."></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="roberto-sidebar-area pl-md-4">

                    <div class="single-widget-area mb-100">
                        <div class="newsletter-form">
                            <h5>Subscribe To Our Newsletter</h5>
                            <p>Get the latest updates from Avila</p>
                            <form action="#" method="post">
                                <input type="email" name="nl-email" id="nlEmail" class="form-control" placeholder="Enter your email...">
                                <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100">
                        <h4 class="widget-title mb-30">Recent News</h4>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blogs.html"><img src="assets/img/bg-img/Blog-sustainable.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-sustainable.html" class="post-author">June 20, 2023</a>
                                    <a href="single-blog-sustainable.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-sustainable.html" class="post-title">An itinerary for sustainable travel</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-luxury.html"><img src="assets/img/bg-img/blog-luxury.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-luxury.html" class="post-author">June 25, 2023</a>
                                    <a href="single-blog-luxury.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-luxury.html" class="post-title">The alluring world of luxury travel</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-experience.html"><img src="assets/img/bg-img/blog-experience.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-experience.html" class="post-author">June 26, 2023</a>
                                    <a href="single-blog-experience.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-experience.html" class="post-title">Explore the Labelexpo Europe 2023 experience with Avila</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-Make-your-mark.html"><img src="assets/img/bg-img/blog-Make-your-mark.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-Make-your-mark.html" class="post-author">Jan 28, 2023</a>
                                    <a href="single-blog-Make-your-mark.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-Make-your-mark.html" class="post-title">Make your mark at K 2025 with Avila</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Tags</h4> 
                        <ul class="popular-tags">
                            <li><a href="#"> CPHI Worldwide 2023,</a></li>
                            <li><a href="#">Barcelona,</a></li>
                            <li><a href="#"> pharmaceutical exhibition,</a></li>
                            <li><a href="#">networking event,</a></li>
                            <li><a href="#">Hilton,</a></li>
                            <li><a href="#">Marriott,</a></li>
                            <li><a href="#">visa application process,</a></li> 
                        </ul>
                    </div>

                    <!--<div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Instagram</h4>

                        <ul class="instagram-feeds">
                            <li><a href="#"><img src="img/bg-img/33.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/34.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/35.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/36.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/37.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/38.jpg" alt=""></a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

