<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/16.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(img/bg-img/16.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">About Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>-->

<section class="roberto-service-area section-padding-100-0">
    <!--<div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>
                        AVILA’S ROADMAP
                    </h6>
                    <h2>Mission &amp; Vision</h2>
                </div>
            </div>
        </div>
    </div>-->
    <section class="roberto-cta-area">
        <div class="container">
            <div class="google-maps-contact-content">
                <div class="row">
                    <div class="col-12">
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">
                                    <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                                    <!--<h4><i class="fa fa-bullseye fa-spin" aria-hidden="true"> </i> With Avila Tours And Travels Pvt Ltd</h4>-->
                                    <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                                        <h6>TRAVEL • TRANSFORM • THRIVE</h6>
                                        <h2>
                                            With Avila Tours and Travels Pvt Ltd
                                        </h2>
                                    </div>
                                    <p>
                                        Avila Tours and Travels Pvt Ltd (Trade name: Avila International) is the leading provider of
                                        end to end travel solutions, with trusted global connections and an inimitable industry
                                        experience of over two decades.
                                    </p><br>
                                    <p>
                                        A pioneer in luxury customised holidays, both domestic and international, Avila also offers
                                        budget-friendly options in every segment. Avila’s travel advisors come with experience and
                                        expertise alike,<br> accompanying you every step of the way.
                                    </p><br>
                                    <p>
                                        Our travel specialists take a keen interest and excel in understanding your unique
                                        requirements and crafting personalised itineraries. Team Avila is available 24*7 on hand
                                        phone, with reservation systems and to assist you in case of emergencies, making your
                                        travel experiences easy and peaceful.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!--<br />
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">-->
                        <!--<i class="fa fa-clock-o" aria-hidden="true"></i>-->
                        <!--<h4><i class="fa fa-eye" aria-hidden="true">   </i>   Vision</h4>
                                    <p>
                                        We design packages that go beyond mere sightseeing or tour, actively facilitating cultural
                                        exchange, educational opportunities, and personal growth, all the while supporting the local
                                        communities. We envision creating travel experiences that are not just unforgettable but
                                        deeply transformative.
                                    </p>
                                </div>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--<section class="roberto-about-us-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <img src="img/bg-img/aboutus.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6">

                <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                    <h6>TRAVEL • TRANSFORM • THRIVE</h6>
                    <h2>
                        With Avila Tours and Travels Pvt Ltd
                    </h2>
                </div>
                <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <p>
                        Avila Tours and Travels Pvt Ltd (Trade name: Avila International) is the leading provider of
                        end to end travel solutions, with trusted global connections and an inimitable industry
                        experience of over two decades.
                    </p>
                    <p>
                        A pioneer in luxury customised holidays, both domestic and international, Avila also offers
                        budget-friendly options in every segment. Avila’s travel advisors come with experience and
                        expertise alike, accompanying you every step of the way.
                    </p>
                    <p>
                        Our travel specialists take a keen interest and excel in understanding your unique
                        requirements and crafting personalised itineraries. Team Avila is available 24*7 on hand
                        phone, with reservation systems and to assist you in case of emergencies, making your
                        travel experiences easy and peaceful.
                    </p>-->
<!--<img src="img/core-img/signature.png" alt="">-->
<!--</div>
            </div>
        </div>
    </div>
</section>-->
<!--<div class="roberto--video--area bg-img bg-overlay jarallax section-padding-0-100" style="background-image: url(img/bg-img/20.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-12 col-md-6">

                <div class="section-heading text-center white wow fadeInUp" data-wow-delay="100ms">
                    <h6>Ultimate Solutions</h6>
                    <h2>Our Hotel &amp; Room</h2>
                </div>
                <div class="video-content-area mt-100 wow fadeInUp" data-wow-delay="500ms">
                    <a href="https://www.youtube.com/watch?v=Ldd8yjjo6jA" class="video-play-btn"><i class="fa fa-play"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--<section class="roberto-project-area">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>Ultimate Services</h6>
                    <h2>Our Team &amp; Staff</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="projects-slides owl-carousel">

        <div class="single-project-slide active bg-img" style="background-image: url(img/bg-img/Niraj_img.jpg);">

            <div class="project-content">
                <div class="text">
                    <h6>Er Niraj Kumar</h6>
                    <h5>ECO</h5>
                </div>
            </div>

            <div class="hover-effects">
                <div class="text">
                    <h6>Er Niraj Kumar</h6>
                    <h5>ECO</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/6.jpg);">

            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>

            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/7.jpg);">

            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>

            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/8.jpg);">

            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>

            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>

        <div class="single-project-slide bg-img" style="background-image: url(img/bg-img/9.jpg);">

            <div class="project-content">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                </div>
            </div>
            <div class="hover-effects">
                <div class="text">
                    <h6>Entertaiment</h6>
                    <h5>Racing Bike</h5>
                    <p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>
                </div>
                <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</section>-->

<section class="roberto-service-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>TEAM AVILA</h6>
                    <h2>
                        The Core Crew
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>
                                Aditya Angara
                            </h6>
                            <h5>Asst. Manager Sales And Marketing</h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>
                                Aditya Angara
                            </h6>
                            <h5>Asst. Manager Sales And Marketing</h5>
                            <!--<p>
                                Asst. Manager Sales And Marketing
                            </p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/FeMale.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>Laxmi Angara</h6>
                            <h5>Business Head/Founder</h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>Laxmi Angara</h6>
                            <h5>Business Head/Founder</h5>
                            <!--<p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/FeMale.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>Ruma Shaheen</h6>
                            <h5>
                                MICE Operations Manager
                            </h5>
                        </div>
                    </div>
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Ruma Shaheen</h6>
                            <h5>
                                MICE Operations Manager
                            </h5>
                            <!--<p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>
                                Ashraf Hussain
                            </h6>
                            <h5>Manager Flight Operations</h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>
                                Ashraf Hussain
                            </h6>
                            <h5>Manager Flight Operations</h5>
                            <!--<p>
                                Asst. Manager Sales And Marketing
                            </p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>Miraj Khan</h6>
                            <h5>
                                Manager Flight Operations
                            </h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>Miraj Khan</h6>
                            <h5>
                                Manager Flight Operations
                            </h5>
                            <!--<p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>Sainath Katatr</h6>
                            <h5>
                                Sr. Visa Executive
                            </h5>
                        </div>
                    </div>
                    <div class="hover-effects">
                        <div class="text">
                            <h6>Sainath Katatr</h6>
                            <h5>
                                Sr. Visa Executive
                            </h5>
                            <!--<p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>
                                Rohith Ayyala
                            </h6>
                            <h5>
                                Visa Executive
                            </h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>
                                Rohith Ayyala
                            </h6>
                            <h5>
                                Visa Executive
                            </h5>
                            <!--<p>
                                Asst. Manager Sales And Marketing
                            </p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-project-slide active bg-img" style="background-image: url(assets/img/bg-img/Male.jpg);">
                    <div class="project-content">
                        <div class="text">
                            <h6>Md Shakeel Ahemed</h6>
                            <h5>Finance Executive</h5>
                        </div>
                    </div>

                    <div class="hover-effects">
                        <div class="text">
                            <h6>Md Shakeel Ahemed</h6>
                            <h5>Finance Executive</h5>
                            <!--<p>I focus a lot on helping the first time or inexperienced traveler head out prepared and confident...</p>-->
                        </div>
                        <a href="#" class="btn project-btn">Discover Now <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>



<section class="roberto-service-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>
                        AVILA’S ROADMAP
                    </h6>
                    <h2>Mission &amp; Vision</h2>
                </div>
            </div>
        </div>
    </div>


    <!--<section class="roberto-cta-area">
        <div class="container">
            <div class="google-maps-contact-content">
                <div class="row">
                    <div class="col-6">
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">
                                    <i class="fa fa-bullseye fa-spin" aria-hidden="true"></i>
                                    <h4>  Mission</h4>
                                    <p>
                                        With a commitment to personalised service, attention to detail, and responsible tourism
                                        practices, we take pleasure in providing our customers with the kind of travel experience
                                        that's a faithful ode to their love for travel.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <h4>   Vision</h4>
                                    <p>
                                        We design packages that go beyond mere sightseeing or tour, actively facilitating cultural
                                        exchange, educational opportunities, and personal growth, all the while supporting the local
                                        communities. We envision creating travel experiences that are not just unforgettable but
                                        deeply transformative.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>-->



    <section class="roberto-cta-area">
        <div class="container">
            <div class="google-maps-contact-content">
                <div class="row">
                    <div class="col-12">
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">
                                    <i class="fa fa-bullseye fa-spin" aria-hidden="true"></i>
                                    <h4>  Mission</h4>
                                    <p>
                                        With a commitment to personalised service, attention to detail, and responsible tourism
                                        practices, we take pleasure in providing our customers with the kind of travel experience
                                        that's a faithful ode to their love for travel.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="google-maps-contact-content">
                            <div class="col-12 col-lg-12">
                                <div class="single-contact-info">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                    <h4>   Vision</h4>
                                    <p>
                                        We design packages that go beyond mere sightseeing or tour, actively facilitating cultural
                                        exchange, educational opportunities, and personal growth, all the while supporting the local
                                        communities. We envision creating travel experiences that are not just unforgettable but
                                        deeply transformative.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<br />




<!-- <div class="partner-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="partner-logo-content d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">

                    <a href="#" class="partner-logo"><img src="img/core-img/p1.png" alt=""></a>

                    <a href="#" class="partner-logo"><img src="img/core-img/p2.png" alt=""></a>

                    <a href="#" class="partner-logo"><img src="img/core-img/p3.png" alt=""></a>

                    <a href="#" class="partner-logo"><img src="img/core-img/p4.png" alt=""></a>

                    <a href="#" class="partner-logo"><img src="img/core-img/p5.png" alt=""></a>
                </div>
            </div>
        </div>
    </div>
</div>   -->
