<div class="breadcrumb-area contact-breadcrumb bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/18.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb-content text-center mt-100">
                    <h2 class="page-title">Contact Us</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="google-maps-contact-info">
    <div class="container-fluid">
        <div class="google-maps-contact-content">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                        <h6>Contact Us</h6>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Phone</h4>
                        <p>
                            +91 40 35177787 / 89
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <h4>Email</h4>
                        <p>
                            info@avila.co.in
                        </p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>
                        <h4>Open time</h4>
                        <p>10:00 am to 23:00 pm</p>
                    </div>
                </div>
                <div class="col-6 col-lg-3">
                    <div class="single-contact-info">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <h4>Address</h4>
                        <p>
                            H.NO.2-3-3/34
                            Silver Oak Bungalows, Cherlapally
                            Hyderabad, Telangana.
                        </p>
                    </div>
                </div> 
            </div>            
            <div  class="container">
                <div  class="row">
                    <div class="col-12">
                        <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                            <!--<h6>Contact Us</h6>-->
                            <h2>Leave Message</h2>
                        </div>
                    </div>
                </div>
                <div [formGroup]="form" class="row">
                    <div class="col-12">
                        <div class="roberto-contact-form">
                            <form action="javascript:void(0)"  (submit)="send()">
                                <div class="row">
                                    <div class="col-12 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                                        <input type="text" formControlName="from_name" name="from_name" id="from_name"  class="form-control mb-30" placeholder="Your Name" autocomplete="off" required>
                                        <!-- <span style="color:red" ng-show="form.from_name.$dirty && form.from_name.$invalid"> </span>
                                            <span ng-show="form.from_name.$error.required">Name Is Requred</span> -->
                                            <div *ngIf="form.controls['from_name'].invalid && (form.controls['from_name'].dirty || form.controls['from_name'].touched)" class="alert alert-danger">
                                                <div *ngIf="form.controls['from_name'].errors">
                                                Name is required.
                                              </div>
                                            </div>    
                                            
                                    </div>
                                    <div class="col-12 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                                        <input type="number" formControlName="mobile" name="number" id="mobile" maxlength="10" class="form-control mb-30" placeholder="Your Mobile" autocomplete="off" required>
                                        <div *ngIf="form.controls['mobile'].invalid && (form.controls['mobile'].dirty || form.controls['mobile'].touched)" class="alert alert-danger">
                                            <div *ngIf="form.controls['mobile'].errors">
                                            Mobile number is required.
                                            
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-12 col-lg-4 wow fadeInUp" data-wow-delay="100ms">
                                        <input type="email" formControlName="from_email" name="from_email" id="from_email" class="form-control mb-30" placeholder="Your Email" autocomplete="off" required>
                                        <div *ngIf="form.controls['from_email'].invalid && (form.controls['from_email'].dirty || form.controls['from_email'].touched)" class="alert alert-danger">
                                            <div *ngIf="form.controls['from_email'].errors">
                                            Email is required.
                                          </div>
                                        </div> 
                                    </div>
                                    <div class="col-12 wow fadeInUp" data-wow-delay="100ms">
                                        <textarea name="message" id="message" formControlName="message" class="form-control mb-30" placeholder="Your Message" autocomplete="off" required></textarea>
                                        <!-- <div *ngIf="form.controls['message'].invalid && (form.controls['message'].dirty || form.controls['message'].touched)" class="alert alert-danger">
                                            <div *ngIf="form.controls['message'].errors">
                                            Message is required.
                                          </div>
                                        </div>  -->
                                    </div>
                                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="100ms">
                                        <button type="submit" [disabled]="!form.valid" class="btn roberto-btn mt-15">Send Message</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="google-maps"> 
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5385.58488618542!2d78.44140191565573!3d17.42504093924369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb972d3519ebe7%3A0x28b8ae147ab2f496!2sAvila%20International%20Tours%20and%20Travels!5e0!3m2!1sen!2sin!4v1687079635984!5m2!1sen!2sin" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>


<br />

