<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/17.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <div class="breadcrumb-post-content">
                        <h2 class="post-title">
                            Explore the Labelexpo Europe 2023 experience with Avila
                        </h2>
                        <div class="post-meta">
                            <a href="#" class="post-date"><i class="fa fa-calendar" aria-hidden="true"></i> June 26, 2023</a>
                            <a href="#" class="post-author"><i class="fa fa-user" aria-hidden="true"></i> By Avila International</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="roberto-news-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">

                <div class="post-thumbnail mb-50">
                    <img src="assets/img/bg-img/blog-experience.jpg" alt="">
                </div>

                <div class="blogs-details-text">
                    <p>World's largest event for the label and package printing industry is taking place at Brussels in September and team Avila is all geared to make your trip successful in every sense. </p>
                    <p>
                        The city of Brussels is gearing up to host one of the world’s largest events and welcome trade visitors from across the globe. Touted as the most important trade fair for labels, package printing and production technology, Labelexpo Europe is a golden opportunity for the professionals in the industry and is held biennially.
                    </p>
                    <p>
                        If you belong to the industry, we know you wouldn’t want to miss the opportunity to take part in the expo. And that’s why Avila Tours & Travels Pvt Ltd is here to plan and manage the trip down to the last detail for you. Soak in the Labelexpo Europe 2023 experience without any hiccups, while we pick up the rest. Here’s how!
                    </p>

                    <blockquote class="roberto-blockquote d-flex">
                        <div class="icon">
                            <img src="assets/img/core-img/quote.png" alt="">
                        </div>
                        <div class="text">
                            <h5>
                                5 ways to make your travels sustainable
                            </h5>
                        </div>
                        <div class="icon">
                            <img src="assets/img/core-img/quote.png" alt="">
                        </div>
                    </blockquote>
                    <h5>
                        1. The onboarding process
                    </h5>
                    <p>
                        You get registered for the tour once you fill our booking form and make the necessary payments. Passengers will have to comply with all the relevant documents as per the rules of the respective embassy or consulate, who will be the decider in granting the visa. In case of non-availability of visa, passengers can cancel the tour as per the cancellation policy which will be provided along with the booking form. Feel free to contact us to know more!
                    </p>
                    <h5>
                       2. Seamless transportation
                    </h5>
                    <p>
                        Trust our team to find the most convenient flight options that align with your schedule and preferences. More transportation requirements like air ground transfers to and fro, transfer from airport to hotel and back, will all be flawlessly handled by team Avila. Sit back and rest assured that you’ll reach your destinations on time, conveniently.
                    </p>
                    <h5>3. Safe & comfortable accommodation</h5>
                    <p>
                        Securing a well-suited accommodation in Brussels during a big event can feel like a daunting task; but not if you are with Avila Tours & Travels Pvt Ltd. Our long-standing and established partnerships mean your accommodation needs are completely taken care of, letting you focus on the expo and the enormous networking opportunities awaiting you.
                    </p>
                    <h5>
                        4. Food arrangement
                    </h5>
                    <p>The only thing you are going to be hungry for is the exposure and opportunities you will be getting at Labelexpo Europe 2023. While the hotel will be providing breakfasts, dinners and packed lunches at the fairground will be arranged by our team. </p>
                    <h5>
                        5. 24/7 customer support
                    </h5>
                    <p>
                        Apart from all these, our team will be available with round-the-clock customer support, ensuring that you have assistance whenever you need it. As you expand horizons, showcase your skill and gain as much insights as possible. We will make sure the journey is stress-free and enjoyable.
                    </p>

                    <p>
                        Avila Tours & Travels Pvt Ltd looks forward to being your reliable partner in your Labelexpo Europe 2023 experience. As you benefit from the incredible opportunity to stay ahead in the label and package printing industry, our team, with the meticulously planned travel packages, hassle-free accommodation, convenient flight bookings, ensure the trip is every bit successful and memorable. Contact now to get registered!
                    </p>
                </div>

                <div class="post-author-area d-flex align-items-center justify-content-between mb-50">
                    <ul class="popular-tags">
                        <li><a href="#">Bed,</a></li>
                        <li><a href="#">Travel,</a></li>
                        <li><a href="#">Hotel</a></li>
                    </ul>

                    <div class="author-social-info d-flex align-items-center">
                        <p>Share:</p>
                        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </div>
                </div>

                <!--<div class="comment_area mb-50 clearfix">
                    <h2>02 Comments</h2>
                    <ol>

                        <li class="single_comment_area">

                            <div class="comment-content d-flex">

                                <div class="comment-author">
                                    <img src="img/bg-img/40.jpg" alt="author">
                                </div>

                                <div class="comment-meta">
                                    <a href="#" class="post-date">27 Aug 2016</a>
                                    <h5>Brandon Kelley</h5>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi.</p>
                                    <a href="#" class="like">Like</a>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </div>
                            <ol class="children">
                                <li class="single_comment_area">

                                    <div class="comment-content d-flex">

                                        <div class="comment-author">
                                            <img src="img/bg-img/41.jpg" alt="author">
                                        </div>

                                        <div class="comment-meta">
                                            <a href="#" class="post-date">27 Aug 2018</a>
                                            <h5>John Doe</h5>
                                            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                            <a href="#" class="like">Like</a>
                                            <a href="#" class="reply">Reply</a>
                                        </div>
                                    </div>
                                </li>
                            </ol>
                        </li>

                        <li class="single_comment_area">

                            <div class="comment-content d-flex">

                                <div class="comment-author">
                                    <img src="img/bg-img/42.jpg" alt="author">
                                </div>

                                <div class="comment-meta">
                                    <a href="#" class="post-date">27 Aug 2018</a>
                                    <h5>Lander Tea</h5>
                                    <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetu adipisci velit, sed quia non numquam eius modi</p>
                                    <a href="#" class="like">Like</a>
                                    <a href="#" class="reply">Reply</a>
                                </div>
                            </div>
                        </li>
                    </ol>
                </div>-->

                <div class="roberto-contact-form mt-80 mb-100">
                    <h2>Leave A Comment</h2>

                    <form action="#" method="post">
                        <div class="row">
                            <div class="col-12">
                                <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                            </div>
                            <div class="col-12">
                                <input type="email" name="message-email" class="form-control mb-30" placeholder="Email">
                            </div>
                            <div class="col-12">
                                <input type="text" name="website" class="form-control mb-30" placeholder="Websites">
                            </div>
                            <div class="col-12">
<textarea name="message" class="form-control mb-30" placeholder="Start the discussion..."></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn roberto-btn btn-3 mt-15">Post Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="roberto-sidebar-area pl-md-4">

                    <div class="single-widget-area mb-100">
                        <div class="newsletter-form">
                            <h5>Subscribe To Our Newsletter</h5>
                            <p>Subscribe our newsletter gor get notification new updates.</p>
                            <form action="#" method="post">
                                <input type="email" name="nl-email" id="nlEmail" class="form-control" placeholder="Enter your email...">
                                <button type="submit" class="btn roberto-btn w-100">Subscribe</button>
                            </form>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100">
                        <h4 class="widget-title mb-30">Recent News</h4>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blogs.html"><img src="assets/img/bg-img/Blog-sustainable.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-sustainable.html" class="post-author">June 20, 2023</a>
                                    <a href="single-blog-sustainable.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-sustainable.html" class="post-title">An itinerary for sustainable travel</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-luxury.html"><img src="assets/img/bg-img/blog-luxury.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-luxury.html" class="post-author">June 25, 2023</a>
                                    <a href="single-blog-luxury.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-luxury.html" class="post-title">The alluring world of luxury travel</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-experience.html"><img src="assets/img/bg-img/blog-experience.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-experience.html" class="post-author">June 26, 2023</a>
                                    <a href="single-blog-experience.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-experience.html" class="post-title">Explore the Labelexpo Europe 2023 experience with Avila</a>
                            </div>
                        </div>
                        <div class="single-recent-post d-flex">
                            <div class="post-thumb">
                                <a href="single-blog-Make-your-mark.html"><img src="assets/img/bg-img/blog-Make-your-mark.jpg" alt=""></a>
                            </div>
                            <div class="post-content">
                                <div class="post-meta">
                                    <a href="single-blog-Make-your-mark.html" class="post-author">Jan 28, 2023</a>
                                    <a href="single-blog-Make-your-mark.html" class="post-tutorial">Travel</a>
                                </div>
                                <a href="single-blog-Make-your-mark.html" class="post-title">Make your mark at K 2025 with Avila</a>
                            </div>
                        </div>
                    </div>

                    <div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Tags</h4>

                        <ul class="popular-tags"> 
                            <li><a href="#">label and package printing industry,</a></li>
                            <li><a href="#">brussels,</a></li>
                            <li><a href="#"> trade fair,</a></li>
                            <li><a href="#">Labelexpo Europe,</a></li>
                            <li><a href="#">visa,</a></li>
                            <li><a href="#">air ground transfers,</a></li>
                            <li><a href="#"> ]air ground transfers,</a></li>
                            <li><a href="#">round-the-clock customer support,</a></li>
                            <li><a href="#">networking opportunities,</a></li> 
                        </ul>
                    </div>

                    <!--<div class="single-widget-area mb-100 clearfix">
                        <h4 class="widget-title mb-30">Instagram</h4>

                        <ul class="instagram-feeds">
                            <li><a href="#"><img src="img/bg-img/33.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/34.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/35.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/36.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/37.jpg" alt=""></a></li>
                            <li><a href="#"><img src="img/bg-img/38.jpg" alt=""></a></li>
                        </ul>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

