<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url(assets/img/bg-img/16.jpg);">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content text-center">
                    <h2 class="page-title">Services</h2>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Services</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="roberto-about-us-area section-padding-100-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6">
                <div class="about-thumbnail pr-lg-5 mb-100 wow fadeInUp" data-wow-delay="100ms">
                    <img src="assets/img/bg-img/service.png" alt="">
                </div>
            </div>
            <div class="col-12 col-lg-6"> 
                <div class="section-heading wow fadeInUp" data-wow-delay="300ms">
                    <h6>AVILA TOURS AND TRAVELS PVT LTD</h6>
                    <h3>Exceptional travel experiences exclusively designed for you.</h3>
                </div>
                <div class="about-content mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <p>Avila is constantly upgrading our services to meet and exceed the expectations of the 
                     new-age traveller, who's looking at qualitative and value-added holidays/business tours.</p>
                    <!--<img src="img/core-img/signature.png" alt="">-->
                </div>
            </div>
        </div>
    </div>
</section> 
<div class="roberto-service-area">
    <div class="container">
        <div class="row">
            <div class="col-12"> 
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>OUR NICHES</h6>
                    <!--<h2>
                        End To End Travel Solutions
                    </h2>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="service-content d-flex align-items-center justify-content-between">

                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="100ms">
                        <img src="assets/img/core-img/icon-Web-TeleCheck.png" alt="Business Travel">
                        <h5>Business Travel</h5>
                    </div>

                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <img src="assets/img/core-img/icon-Corporate-Travel-Management.png" alt="Corporate Travel">
                        <h5>
                            Corporate Travel
                        </h5>
                    </div>


                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <img src="assets/img/core-img/icon-Leisure-Travel.png" alt="Leisure Travel">
                        <h5>
                            Leisure Travel
                        </h5>
                    </div>

                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="700ms">
                        <img src="assets/img/core-img/icon-Conference-Incentive-Tour.png" alt="MICE Tours">
                        <h5>MICE Tours</h5>
                    </div>

                    <div class="single-service--area mb-100 wow fadeInUp" data-wow-delay="900ms">
                        <img src="assets/img/core-img/icon-Meetings-Exhibitions.png" alt="Trade Fair Tours">
                        <h5>
                            Trade Fair Tours
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="roberto-service-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="100ms">
                    <h6>OUR SERVICES</h6>
                    <h2>
                        End To End Travel Solutions
                    </h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="assets/img/bg-img/LeisureTravel.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5 style="font-size:19px !important">Leisure Travel <br>(Domestic & Overseas)</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="assets/img/bg-img/Conference_IncentiveTour.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Conference & Incentive Tour</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="assets/img/bg-img/Meetings_Exhibitions.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Meetings & Exhibitions</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="assets/img/bg-img/EventManagement.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Event Management</h5>
                    </div>
                </div>
            </div> 
        </div>

        <div class="row">
             
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="assets/img/bg-img/Translation_Consulate_Legalisation.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5 style="font-size:20px !important">Translation & Consulate Legalisation Of Documents</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/CorporateTravelManagement.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Corporate Travel <br> Management</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/Travels-Insurance.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Travel Insurance</h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/WebTeleCheck.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Web & Tele Check In Services</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
           
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/HotelAccommodation.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center" >
                        <h5 style="font-size:18px !important">Hotel Accommodation<br>(Domestic & International)</h5>
                    </div>
                </div>
            </div> 
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="assets/img/bg-img/CarRental.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>
                            Car Rental
                        </h5>
                    </div>
                </div>
            </div>  
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="300ms">
                    <img src="assets/img/bg-img/Eurail_BritRail_Tickets.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Eurail & Brit Rail Tickets </h5>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <img src="assets/img/bg-img/DomesticBusTicketServices.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5>Domestic Bus Ticket Services</h5>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="single-service-area mb-100 wow fadeInUp" data-wow-delay="700ms">
                    <img src="assets/img/bg-img/CruiseBooking.png" alt="">
                    <div class="service-title d-flex align-items-center justify-content-center">
                        <h5> Cruise Booking </h5>
                    </div>
                </div>
            </div>  
           
        </div>

    </div>
</section>